<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walk With Me</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"></a></li>
            <li><a href="/dogs">Dogs</a></li>
            <li><a href="/users">All Dog Walkers</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
