<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/main.css' />
    <title>Walk With Me</title>
</head>
<body>
    <header>
        <nav>
            <% if(!currentUser)  { %>
            <div><a href="/"><img src="/images/branding/rplogoLIGHT.svg" class="logo"></a></div>
            <% } else { %>
                <div><a href="/dogs"><img src="/images/branding/rplogoLIGHT.svg" class="logo"></a></div>
                <% } %>
            <div><a href="/dogs">Dogs</a></div>
            <div><a href="/users">All Dog Walkers</a></div>
            <% if(!currentUser)  { %>
            <div><a href="/login">Login</a></div>
            <div><a href="/signup">Signup</a></div>
                <% } else { %>
            <div><a href="/users/<%= currentUser._id %>"><%= currentUser.fullName %></a></div>
            <div><a href="/logout">Logout</a></div>
                    <% } %>
        </nav>
    </header>

