<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/main.css' />
    <title>Walk with Me</title>
</head>
<body>
    <div class="landing-container">
        <div class="awards-container">
            <div><img src="/images/best-of-lv.png" alt=""></div>
            <div><img class="peta" src="/images/peta-logo.webp" alt=""></div>
            <div><img class="rolling" src="/images/rolling-stones.png" alt=""></div>
            
        </div>
        <img src="/images/dogs-background.jpeg" alt="Destitute Dogs">
        <div class="img-overlay"></div>
        <div class="jumbotron">
            
            <!-- <img src="/images/branding/wwmlogo.svg" alt="Walk with Me Logo"> -->
            <div>
                <img class="jumbo-logo" src="/images/branding/rplogoDARKsvg.svg" alt="Rescue Pup Logo">
                <h4>Volunteer Dog Walking redefined</h4>

            </div>
            <div class="landing-btns">
                <button><a href="/login">Login</a></button>
                <button><a href="/signup">Signup</a></button>
                <button><a href="/dogs">View Dogs</a></button>
            </div>
            
        </div>
    </div>
    <div class="powered-by">
        <p>Powered by: </p>
        <img src="/images/branding/wwmlogo.svg" alt="Walk with my Logo">
    </div>
</body>
</html>

    



