<%- include('../partials/header') %> 

<ul>
    <% allDogs.forEach(item => { %>
        <li>
            <a href="/dogs/<%= item.id %>">
                <%= item.name %>
            </a>
        </li>
    <% }) %>
</ul>


<%- include('../partials/footer') %> 
