<%- include('../partials/header') %> 

<ul>
    <% allUsers.forEach(item => { %>
        <li>
            <a href="./users/<%= item.id %>">
                <%= item.fullName %>
            </a>
        </li>
    <% }) %>
</ul>


<%- include('../partials/footer') %> 
