<%- include('../partials/header') %> 


    <section class="profile-grid">
    <% allUsers.forEach(item => { %>
        
            <div class="profile-card">
                <a href="./users/<%= item.id %>">
                <img class="profile-pic-index" src="/images/default-user.png" alt="Profile Pic">
                <p><%= item.fullName %></p>   
            </a>
                
            </div>
    
        <% }) %>
        </section>



<%- include('../partials/footer') %> 
