<%- include('../partials/header') %> 
<div class="flash-container">
    <%- include('../partials/flash') %> 
    </div>
<main>
<div class="form-container">
    <h1>Login<span><a href="/signup">Sign Up?</a></span></h1>
    <form action="/login" method="POST">
        <!-- USERNAME -->
        <div >
            <label for="username" >
                <input type="text" name="username" placeholder="Username">
            </label>
        </div>
         <!-- PASSWORD -->
        <div>
            <label for="password" >
                <input type="password" name="password" placeholder="Password">
            </label>
        </div>
        <input class="submit" type="submit" value="Login">
        </form>
</div>


</main>
<%- include('../partials/footer') %> 
